.blogsPage .blogs-header {
  text-align: center;
}
.blogsPage .page-container {
  flex-direction: column;
  gap: 4rem;
}
.blog-contents {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .blog-contents {
    flex-direction: column;
    gap: 3rem;
  }
}
