.Homepage .overlay-holder {
    position: relative;
    z-index: 10;
  }
  .main-overlay-img {
    position: absolute;
    margin: auto;
    top: 180vh;
    max-width: 100vw;
    min-height: 100%;
  }