.laurelPage {
  background-image: url("/src/assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.laurelPage .page-container {
  gap: 6rem;
}
.awards-block {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.laurels {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  row-gap: 4rem;
}
.image-box img {
  scale: 90%;
}

@media screen and (max-width: 1600px) {
  .laurelPage .page-container {
    gap: 0.5rem;
  }
}
@media (max-width: 768px) {
  .laurelPage .image-box {
    display: none;
  }
  .awards-block {
    justify-content: center;
    align-items: center;
  }
  .laurelPage .pageHeader {
    text-align: center;
  }
}
@media (max-width: 642px) {
  .laurels {
    grid-template-columns: auto;
    row-gap: 3rem;
  }
}
