.Homepage {
  min-width: 100vw;
}
.page-container {
  margin: 1rem 7.5rem;
  display: flex;
}
.Homepage .overlay-holder {
  position: relative;
  z-index: 1;
}
.main-overlay-img {
  position: absolute;
  margin: auto;
  top: 180vh;
  max-width: 100vw;
  min-height: 100%;
  z-index: 10;
}
section {
  position: relative;
  margin: 1rem 7rem;
  /* border: 1px solid white; */
  display: flex;
  color: white;
}

@media screen and (max-width: 1600px) {
  .page-container {
    margin: 1rem 4rem;
  }
  section {
    margin-top: 0;
  }
}
@media (max-width: 1150px) {
  .page-container {
    margin: 1rem 0;
  }
}
@media (max-width: 912px) {
  section {
    margin: 1rem 3.5rem;
  }
}
@media (max-width: 768px) {
  section {
    margin: 1rem 1.85rem;
  }
}
@media (max-width: 642px) {
  .page-container {
    flex-direction: column;
  }
}
