@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav-container {
  width: 100vw;
  background-color: var(--color-black);
  top: 0;
  position: sticky;
  margin-bottom: 2rem;
  z-index: 20;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
  color: var(--color-white);
  font-family: "Poppins";
}
.logo img {
  width: 12rem;
}
.main-nav-links,
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.main-nav-links li:hover,
.nav-links li:hover {
  color: var(--color-gray);
  cursor: pointer;
  transition: 0.5s ease;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.nav-btn p:hover {
  border-bottom: 1px solid var(--color-golden);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.line {
  height: 3rem;
}
.small-screen-nav {
  display: none;
}
.small-nav-overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 2rem 4rem;
  width: 100%;
  left: 0;
  top: 0;
  height: auto;
  text-align: center;
  background-color: var(--color-black);
  font-size: 1.5rem;
  transition: top 1s ease-in-out;
}

.small-nav {
  margin: auto;
}
.small-nav ul {
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.overlay-close,
.hamburger {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .nav-btn {
    gap: 1rem;
  }
  .nav-container {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 1150px) {
  .main-nav-links {
    display: none;
  }
  .small-screen-nav {
    display: flex;
  }
  .nav-link {
    color: var(--color-golden);
    font-family: var(--font-base);
  }
  .nav-links li:hover {
    color: var(--color-white);
  }
}

/* Add mobile design */
@media screen and (max-width: 912px) {
  .logo img {
    width: 8rem;
  }
  .line svg {
    height: 3rem;
  }
  nav {
    padding: 1rem 2rem;
  }

  .main-nav-links li:hover,
  .nav-links li:hover {
    color: unset;
    cursor: default;
    transition: unset;
  }

  .nav-links li:hover {
    color: unset;
  }
}

@media screen and (max-width: 600px) {
  .nav-btn {
    display: none;
  }
  nav {
    padding: 0.5rem;
  }
}
/* @media screen and (max-width: 600px) {
  nav {
    padding: 1rem 1.5rem;
  }
  } */
@media (max-width: 642px) {
  .small-nav-overlay {
    flex-direction: column-reverse;
  }
  .overlay-close {
    position: absolute;
    width: auto;
    right: 1rem;
    text-align: right;
    top: 1.5rem;
  }
}
