.about-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-section h2 {
  color: var(--color-golden);
  font-size: 4rem;
  font-family: var(--font-base);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.12rem;
  text-transform: capitalize;
  font-style: normal;
}
.about-section p {
  color: var(--color-lightgray);
  font-size: 1rem;
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.04rem;
}

@media (max-width: 1150px) {
  .about-section h2 {
    font-size: 3.5rem;
  }
  .about-section p {
    line-height: 160%;
  }
}
