.BookTable .page-container{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    background-color: var(--color-black);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70); 
    border: 1px solid rgba(220, 202, 135, 0.20); 
}
.BookTable .header-text-container {
    text-align: center;
}
.dropDownLists {
    display: flex;
    gap: 2rem;
}