.testimonial-container {
  display: flex;
  gap: 1rem;
  position: relative;
}

.testimonial-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 15rem;
}
.testimonial-text p {
  color: var(--color-lightgray);
  font-family: var(--font-alt);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.04rem;
}
/* .person-details {
  position: absolute;
  bottom: 0;
} */
.user-img {
  position: relative;
  z-index: 1;
}
.user-img .user {
  height: 11rem;
}
.user-quote {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  scale: 30%;
  height: 1.5rem;
  width: 1.5rem;
}

@media (max-width: 1350px) {
  .person-details .person {
    gap: unset;
  }

  .person-details .person h4 {
    font-size: 1.5rem;
    line-height: 100%;
  }

  .person-details .person p {
    line-height: 100%;
  }
}
@media (max-width: 912px) {
  .testimonial-body {
    min-width: 11rem;
  }
  .testimonial-container {
    gap: 0.5rem;
  }
  .testimonial-grid {
    column-gap: 1rem;
    row-gap: 3rem;
  }
  .testimonial-text p {
    font-size: 0.9rem;
    line-height: 120%;
    letter-spacing: 0.02rem;
  }
}
@media (max-width: 768px) {
  .testimonial-text p {
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0.04rem;
  }
  .person-details .person {
    gap: 0.5rem;
  }
  .person-details .person h4 {
    font-size: 2rem;
    line-height: 100%;
  }
}

@media (max-width: 642px) {
  .testimonial-text p {
    line-height: 100%;
    letter-spacing: 0.01rem;
  }
  .testimonial-container {
    gap: 0.3rem;
    left: -1rem;
    position: relative;
  }
  .testimonial-body {
    min-width: 12.5rem;
  }
}
